section.intro
  h1(x=3, y=1, r=0)
    div <span>Less</span> <span><span n='fstar'>F*</span> annotations</span>
    div <span>Thanks to</span> <span n='verasco'>Verasco</span>
  h2(x=4, y=4, r=0.5, style='text-align: right;') Why and how <b>abstract interpretation</b> can talk with <b>weakest precondition</b> based languages
  aside(r=0.5, b=0.5)
    div Lucas Franceschino
    div lucas.franceschino@inria.fr
    div Supervised by <b>Jean-Pierre Talpin</b> and <b>David Pichardie</b>
    div TEA Team, INRIA Rennes
