section.fv
  div.color-prop-background(n='black', x=0, y=0, b=0, r=8)
  div(style='background: white;', n='white', x=8, y=0, b=0, r=0)

  h1(x=9, y=0, n='fstar') F*
  h1(x=1, y=0, n='verasco') Verasco

  div(x=1, y=3, style='width: 40%;')
    img(x=0, y=0, style='width: 100%;', src='assets/verasco-top.svg')
    img(x=0, y=0.8, style='width: 100%;', src='assets/verasco-bot.svg', n='pic')
  
  div.c(x=12, y=3, style='font-size: 60px;', n='proof') Proof obligations
  div.c(x=12, y=5, style='font-size: 60px;', n='man') Manual proofs
  div.c(x=12, y=6, style='font-size: 60px;', n='smt') SMT Solver

  div.arrow(x=12, y=4, n='arr')
