section.fv
  pre.language-fsharp(x=3, y=0.5, style='font-size: 24px;' at-1='in', at-2='moveDown persist-moveDown').
    let rec add (n m: ℕ)
    = match n with
    | 0 -> m
    | _ -> 1 + add (n - 1) m
  div(style='background: white;', n='white', x=8, y=0, b=0, r=0)


  h1(x=11.55, y=0, n='fstar') F*
  div(x=6, y=4, style='font-size: 30px;')
    .invariant(at-4='moveTo0 persist-moveTo0', at-3='in') \(i \ge 3\)
    .invariant(at-4='moveTo1 persist-moveTo1', at-3='in') \(i \in [4, 9]\)
    .invariant(at-4='moveTo2 persist-moveTo2', at-3='in') \(i + j = 3\)
    .invariant(at-4='moveTo3 persist-moveTo3', at-3='in') \(n \geq 10\)
    div(x=0,y=0,b=0,r=0,style='background: #efefef;')

  div.color-prop-background(n='black', x=2, y=3, b=2.2, r=8, at-3='shake faster')
    h1(x=1.75, y=-0.7, style='font-size: 60px;' n='verasco', at-3='shake faster') Verasco
    img(x=1.2, y=1.5, style='width: 60%;', src='verasco-bot.svg', n='pic', at-3='shake faster')
    div(at-5='in', style='position: absolute;right: 0; top: 0; background: #ffe6d6; font-size: 27px; color: #894412; padding: 10px; transform: rotate(12deg) translate(53px, -37px);', at-7='out') IMPERATIVE C LIKE CODE


  div.c(x=12, y=3, style='font-size: 60px;', at-4='makesSmaller persist-makesSmaller', n='proof') Proof obligations
  div.c(x=12, y=5, style='font-size: 60px;', n='man') Manual proofs
  div.c(x=12, y=6, style='font-size: 60px;', n='smt') SMT Solver

  div.arrow(x=12, y=4, n='arr')

  div(style='position: relative; top: -40px;', at-6='in')
    div(style='background-color: white; left: 1182px; top: 138px; border-radius: 159px; width: 159px; height: 159px; font-size: 64px;')
      span(style='position: relative; top: 44px; left: 7px;', at-6='zoomIn faster') Low*
    img(x=12, y=1, src='magnif.png', style='width: 280px; transform: rotate(-30deg);')
  
  div(x=3.5, y=3, style='transform: translate(700px, -200px) rotate(-3deg); font-family: "Permanent Marker", cursive; z-index: 2; color: white;', at-7='in')
    img(src='tape.png', style='position: absolute;transform: rotate(-56deg);top: -131px;width: 340px;')
    div(style='width: 350px; line-height: 40px; font-size: 60px; position: absolute; left: -5px; top: 20px; text-align: center;') Wp-based langage

  div(x=3.5, y=3, style='transform: rotate(3deg); font-family: "Permanent Marker", cursive; z-index: 2; color: white;', at-7='in')
    img(src='tape.png', style='position: absolute;transform: rotate(-56deg);top: -131px;width: 400px;')
    div(style='width: 350px; line-height: 40px; font-size: 60px; position: absolute; left: 5px; top: 45px; text-align: center;') Abstract interpretor

