body > section {
  font-size: 40px;
  font-weight: 300;
}
body > section .white-prop-background {
  background: #fff;
  fill: #fff;
}
body > section .color-prop-background {
  background: #eeedef;
  fill: #eeedef;
}
body > section .color-prop-color {
  color: #eeedef;
}
body > section .display-none {
  display: none;
}
body > section .good {
  color: #375225;
}
body > section .bad {
  color: #814012;
}
body > section .moveDown {
  transform: translate(0, 250px) scale(0.5);
  transition: transform 100ms linear;
}
body > section .moveUpABit {
  transform: translate(0, -40px);
  transition: transform 100ms linear;
}
body > section h1 {
  font-weight: 400;
}
body > section b {
  font-weight: 400;
}
body > section .invariant {
  opacity: 1;
}
body > section .makesSmaller {
  transition: all 3000ms ease-out;
  transform: translate(-50%, 7px) scale(0.9) !important;
  color: #011301;
}
body > section .moveTo0 {
  transition: all 1700ms ease-out;
  transition-delay: 400ms;
  transform: translate(440px, 70px) rotate(17deg);
  opacity: 0;
}
body > section .moveTo1 {
  transition: all 1700ms ease-out;
  transition-delay: 0s;
  transform: translate(440px, -30px) rotate(4deg);
  opacity: 0;
}
body > section .moveTo2 {
  transition: all 1700ms ease-out;
  transition-delay: 800ms;
  transform: translate(440px, -100px) rotate(-10deg);
  opacity: 0;
}
body > section .moveTo3 {
  transition: all 1700ms ease-out;
  transition-delay: 1000ms;
  transform: translate(440px, 0px) rotate(-17deg);
  opacity: 0;
}
body > section .arrow {
  width: 2px;
  height: 80px;
  position: absolute;
  background: #808080;
}
body > section .arrow:after {
  content: '►';
  color: #808080;
  font-family: arial;
  position: absolute;
  font-size: 70%;
  bottom: -11px;
  left: -13px;
  transform: rotate(90deg);
}
body > section.intro h1 {
  background: #000;
  color: #fff;
  padding: 20px;
  font-size: 90px;
  font-weight: 300;
  text-transform: uppercase;
}
body > section.intro h1 > div > span:first-child {
  display: inline-block;
  width: 500px;
  text-align: right;
}
body > section.intro h1 > div > span:last-child {
  font-weight: 400;
}
body > section.intro h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 58px;
}
body > section.intro aside {
  font-size: 28px;
  text-align: right;
}
body > section.intro aside div:nth-child(1) {
  font-size: 32px;
}
body > section.intro aside div:nth-child(2) {
  font-style: italic;
  padding-bottom: 30px;
}
body > section.fv.fv-verasco table {
  position: absolute;
  font-size: 38px;
  font-family: Roboto Light;
  border-collapse: separate;
  border-spacing: 16px;
}
body > section.fv.fv-verasco table td {
  padding: 2px;
  box-shadow: 0 0 15px #dedede;
  border-radius: 6px;
  background: #fff;
  text-align: center;
}
body > section.fv.fv-verasco table td.err {
  background: #c0392b;
  color: #fff;
}
body > section.fv.fv-verasco table.abstract {
  top: 566px;
  left: 1280px;
}
body > section.fv.fv-verasco table.abstract td {
  width: 200px;
}
body > section.fv.fv-verasco table.concrete {
  top: 566px;
  left: 150px;
}
body > section.fv.fv-verasco table.concrete td {
  width: 100px;
}
body > section.fv.fv-verasco table.concrete.vv {
  top: 566px;
  left: 130px;
}
body > section.fv.fv-verasco table td:nth-child(6) {
  left: -318px;
  top: 0;
}
body > section.fv.fv-verasco table *.vv {
  position: relative;
}
body > section.fv.fv-verasco table *.vv:nth-child(5) {
  left: -318px;
  top: 12px;
}
body > section.fv.fv-verasco table *.vv:nth-child(4) {
  left: -212px;
  top: 8px;
}
body > section.fv.fv-verasco table *.vv:nth-child(3) {
  left: -106px;
  top: 4px;
}
body > section.fv h1 {
  text-transform: uppercase;
  font-size: 90px;
}
body > section .c {
  width: 500px;
  transform: translate(-50%, 0);
  text-align: center;
}
body > section .ll {
  color: #34495e;
}
body > section .ll:after {
  content: '∈';
  position: absolute;
  bottom: -74px;
  opacity: 0.6;
  font-size: 140%;
  left: 47.5%;
  transform: rotate(90deg);
}
body > section .ll span {
  display: block;
  font-size: 80%;
}
body > section .ll span i {
  text-align: center;
  width: 30px;
  display: inline-block;
  font-style: normal;
}
body > section .ll span:nth-child(7),
body > section .ll span:nth-child(1) {
  opacity: 0.2;
}
body > section .ll span:nth-child(6),
body > section .ll span:nth-child(2) {
  opacity: 0.4;
}
body > section .ll span:nth-child(5),
body > section .ll span:nth-child(3) {
  opacity: 0.7;
}
